.questionIds_main {
    display: flex;
    justify-content: center;
    
}

.questionIds_main_inner {
    padding-right: 20px;
    box-shadow: 2px 2px 4px 0px greenyellow;
}
.userName {
    color: green;
}
.label {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.input_box {
    margin-top: 30px;
    cursor: pointer;
}
.LandingPage_btn_main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width : 490px) {
    .input_box {
        margin-top: 40px;
    }
    
}